<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.js"> </script>
    <script type="text/javascript" src="/javascripts/nunjucks-slim.js"> </script>
    <script type="text/javascript" src="/javascripts/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/backbone.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/tpl/templates.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>